@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NanumMyeongjo', serif;
}

.root {
    background-color: #799094;
    height: 100vh;

    display: grid;
    grid-template-columns: 2fr 8fr;
}

/* menu바 스타일 시작*/
/* menu바 스타일 시작*/
/* menu바 스타일 시작*/
/* menu바 스타일 시작*/
.menu {
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    flex-shrink: 0;
    position: relative;
    /*flex와 position:relative-absolute 같이 사용 가능
    개별요소에 main-axis속성 부여하고싶으면 후자 사용 추천*/

    background-color: white;
    box-shadow: 2px 0px 4px 0px rgba(121, 144, 148, 0.40);

    /*box-shadow: 4px 0px 2px 0px black; */
    /*box-shadow 활용법 => 가로 4px, 세로 0px,
    흐린 정도 5px, 그림자 크기 확장 0px, 그림자 색깔
    
    양음+좌우는 기본 좌표계에서 위아래 반전(cmd생각)*/

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    margin-bottom: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_img {
    width: 96px;
    height: 96px;
    flex-shrink: 0;
    margin-right: -12px;
}

.home {
    width: 80%;
    margin-bottom: 36px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor:pointer;
}

.account_book {
    width: 80%;
    margin-bottom: 36px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor:pointer;
}

.stuff {
    width: 80%;
    margin-bottom: 36px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor:pointer;
}

.text_box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.name_phone {
    margin-right: 28px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.log_out {
    width: 44px;
    height: 20px;
    flex-shrink: 0;
    border: 0;
    background-color: var(--Main, #493B39);

    color: #FFF;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 8px;
    /* 100% */
}

.text1 {
    color: var(--Main, #493B39);
    font-family: 'NanumMyeongjo', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
    /* 133.333% */
    letter-spacing: 4.32px;
}

.text2 {
    color: #999;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    /* 100% */
}

.text3 {
    color: var(--AMain, #475A5D);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
}

.text4 {
    color: var(--Main, #493B39);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.my_page {
    position: absolute;
    bottom: 10vh;

    color: var(--Main, #493B39);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */

    cursor:pointer;
}

.profile {
    margin-bottom: 54px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 16px;
}

/* menu바 스타일 (끝)*/
/* menu바 스타일 (끝)*/
/* menu바 스타일 (끝)*/



/* mainboard - 검색창 (시작) */
/* mainboard - 검색창 (시작) */
/* mainboard - 검색창 (시작) */
.mainboard {
    display: grid;
    grid-template-rows: 4fr 3fr;
    gap: 10px;

}

.board {
    margin-top: 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding-left: 52px;
    padding-top: 28px;
    padding-right: 5%;
}

.text_account {
    margin-bottom: 4px;
    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    /* 133.333% */

    display: flex;
    align-self: center;
}

.text_update {
    margin-bottom: 24px;

    color: #666;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 100% */
}

.search {
    display: flex;
    flex-direction: column;
}

.searchBox {
    width: 330px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--Line1, #D0D0D0);
    margin-bottom:12px;

    color: #999;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */

    display: flex;
    align-items: center;
    gap: 8px;
}
/* mainboard - 검색창 (시작) */
/* mainboard - 검색창 (시작) */
/* mainboard - 검색창 (시작) */


/* mainboard - 표 스타일 (시작) */
/* mainboard - 표 스타일 (시작) */
/* mainboard - 표 스타일 (시작) */
.table {
    margin-bottom:8px;
    width: 100%;
    color: #666;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    
    border-collapse: collapse;
    /* 표의 셀 사이의 미세한 기본간격을 없애는 법 */
}
.table_head{
    background-color: var(--Asub2, #D3D7D8); 
}

td {
    height:36px;
    text-align: center;
    border: 1px solid var(--Asub1, #799094);
}

.bar_blank {
    width: 100%;
    height: 28px;
    flex-shrink: 0;
    border: 1px solid var(--Line1, #D0D0D0);

    margin-bottom:8px;
}

.index {
    align-self: flex-end;
}

.clicked_index {
    width: 20px;
    height: 20px;
    background-color: #B4AEB0;
    margin-right: 20px;
    border-radius: 50%;

    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 1000;
    line-height: 22px;
    /* 157.143% */
    border: none;
}

.unclicked_index {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    border-radius: 50%;

    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
    border: none;
}
/* 표 스타일 (끝) */
/* 표 스타일 (끝) */
/* 표 스타일 (끝) */


/* mainboard - 통계 (시작) */
/* mainboard - 통계 (시작) */
/* mainboard - 통계 (시작) */
.statistics {
    margin-bottom: 12px;
    background-color: white;

    display: grid;
    grid-template-rows: 3fr 10fr;
}

.chart {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 16px;
}

.chart_box {
    width: 200px;
    height: 200px;
}

.table_chart {
    display: flex;
    flex-direction: column;
}

.text_statistics {
    margin-left: 52px;

    color: #333;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    /* 133.333% */

    display: flex;
    align-self: center;
}

.text_statistics2 {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 144.444% */
}
/* mainboard - 통계 (시작) */
/* mainboard - 통계 (시작) */
/* mainboard - 통계 (시작) */