@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    box-sizing: border-box;

    font-family: 'NanumMyeongjo', serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5%;
}

.flex_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 헤더(함소 로고) 시작*/
/* 헤더(함소 로고) 시작*/
/* 헤더(함소 로고) 시작*/
.header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo_img {
    width: 96px;
    height: 96px;
    flex-shrink: 0;
}

.header .text_box {
    width: 186px;
    height: 76px;
    
    margin-left:-16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.header .text1 {
    color: var(--Main, #493B39);
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 5.76px;
}

.header .text2 {
    color: #999;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    /* 100% */
}
/* 헤더(함소 로고) 끝*/
/* 헤더(함소 로고) 끝*/
/* 헤더(함소 로고) 끝*/



.main {
    width: 380px;
    flex-shrink: 0;
    border: 1px solid var(--MAIN, #493B39);

    padding-top:5%;
    padding-bottom:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .flex_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .text1 {
    color: var(--Asub1, #799094);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    /* 100% */
}

.main .text1_head {
    color: var(--Asub1, #799094);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
    /* 100% */
}

.main .input_box1 {
    width: 300px;
    height: 44px;
    flex-shrink: 0;

    border: 1px solid #999;

    color: #999;
    font-size: 24px;
    font-weight: 400;


    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main .input_box1:hover {
    border: 1px solid var(--AMain, #475A5D);
}

.main .input1 {
    justify-self: flex-start;
    border: none;
    color: #999;

    font-family: 'NanumMyeongjo', serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;


    padding-left: 12px;
}



.main .input_box2 {
    width: 300px;
    height: 44px;
    flex-shrink: 0;
    margin-bottom:4px;

    border: 1px solid #999;

    color: #999;
    font-size: 24px;
    font-weight: 400;

    padding-left:12px;
    padding-right:12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main .input_box2:hover {
    border: 1px solid var(--AMain, #475A5D);
}

.main .input2 {
    border: none;
    outline: none;

    color: #999;
    font-family: 'NanumMyeongjo', serif;
    font-size: 16px;
    font-weight: 400;
}
.main .submit_btn {
    width: 300px;
    height: 48px;
    flex-shrink: 0;
    background-color: var(--MAIN, #493B39);

    border: 0px solid #999;
    cursor: pointer;


    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.88px;
    font-family: 'NanumMyeongjo', serif;
}

.main .sign_up {
    width: 300px;
    height: 48px;
    flex-shrink: 0;
    background-color: white;

    border: 1px solid var(--Main, #493B39);
    cursor: pointer;

    color: var(--MAIN, #493B39);
    font-family: 'NanumMyeongjo', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 125% */
    letter-spacing: 2.88px;
}
.wrong{
    font-size:12px;
    color:red;
}
.loading{
    font-size:12px;
    color:gray;
}

@media screen and (max-width: 480px) and (min-width:280px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } 
    .header {
        width: 320px;
    }
    
    .header .logo_img {
        width: 96px;
        height: 96px;
        flex-shrink: 0;
    }
    
    .header .text_box {
        width: 186px;
        height: 76px;
        
        margin-left:-16px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .header .text1 {
        color: var(--Main, #493B39);
        font-size: 36px;
        font-weight: 800;
        letter-spacing: 5.76px;
    }
    
    .header .text2 {
        color: #999;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 12px;
        /* 100% */
    }
    
    .main {
        width: 260px;
        flex-shrink: 0;
        border: 1px solid var(--MAIN, #493B39);
    
        padding-top:5%;
        padding-bottom:5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main .flex_center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main .text1 {
        color: var(--Asub1, #799094);
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 12px;
        /* 100% */
    }
    
    .main .text1_head {
        color: var(--Asub1, #799094);
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 12px;
        /* 100% */
    }
    
    .main .input_box1 {
        width: 240px;
        height: 44px;
        flex-shrink: 0;
    
        border: 1px solid #999;
    
        color: #999;
        font-size: 24px;
        font-weight: 400;
    
    
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .main .input_box1:hover {
        border: 1px solid var(--AMain, #475A5D);
    }
    
    .main .input1 {
        justify-self: flex-start;
        border: none;
        color: #999;
    
        font-family: 'NanumMyeongjo', serif;
        font-size: 16px;
        font-weight: 400;
        outline: none;
    
    
        padding-left: 12px;
    }
    
    
    
    .main .input_box2 {
        width: 240px;
        height: 44px;
        flex-shrink: 0;
        
    
        border: 1px solid #999;
    
        color: #999;
        font-size: 24px;
        font-weight: 400;
    
        padding-left:12px;
        padding-right:12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main .input_box2:hover {
        border: 1px solid var(--AMain, #475A5D);
    }
    
    .main .input2 {
        border: none;
        outline: none;
    
        color: #999;
        font-family: 'NanumMyeongjo', serif;
        font-size: 16px;
        font-weight: 400;
    }
    .main .submit_btn {
        width: 240px;
        height: 48px;
        flex-shrink: 0;
        background-color: var(--MAIN, #493B39);
    
        border: 0px solid #999;
        cursor: pointer;
    
    
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2.88px;
        font-family: 'NanumMyeongjo', serif;
    }
    
    .main .sign_up {
        width: 240px;
        height: 48px;
        flex-shrink: 0;
        background-color: white;
    
        border: 1px solid var(--Main, #493B39);
        cursor: pointer;
    
        color: var(--MAIN, #493B39);
        font-family: 'NanumMyeongjo', serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        /* 125% */
        letter-spacing: 2.88px;
    }

}