@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
/* vw와 rem 적극활용 */
/* 웬만하면 마진도 죄다 css에 넣어라 결국 모바일뷰포트 만들 때 불편하다 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  font-family: 'NanumMyeongjo', serif;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  padding:5%;
}

.flex_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:40px;
}

.header .logo_img {
  width: 96px;
  height: 96px;
  flex-shrink: 0;
}

.header .text_box {
  width: 186px;
  height: 76px;

  margin-left: -12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header .text1 {
  color: var(--Main, #493B39);
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  /* 133.333% */
  letter-spacing: 4.32px;
}

.header .text2 {
  color: #999;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  /* 100% */
}

.main {
  width: 380px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.main .flex_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .text_head {
  color: var(--Sub1, #69534E);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 140% */
  margin-bottom:48px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main .text1 {
  color: var(--Asub1, #799094);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  /* 157.143% */
}

.main .input_box1 {
  width: 380px;
  height: 44px;
  flex-shrink: 0;

  border: 1px solid var(--Line1, #D0D0D0);

  color: #999;
  font-size: 24px;
  font-weight: 400;

  padding-left:16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main .input1 {
  justify-self: flex-start;
  width: 380px;

  border: none;
  color: #999;
  font-family: 'NanumMyeongjo', serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;

}



.main .input_box2 {
  width: 380px;
  height: 44px;
  flex-shrink: 0;

  border: 1px solid var(--Line1, #D0D0D0);

  color: #999;
  font-size: 24px;
  font-weight: 400;

  padding-left:16px;
  padding-right:16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .input2 {
  width: 360px;
  border: none;
  outline: none;
  flex-basis: 320px;

  color: #999;
  font-family: 'NanumMyeongjo', serif;
  font-size: 16px;
  font-weight: 400;
}

.main .input_box3 {
  width: 280px;
  height: 44px;
  flex-shrink: 0;
  margin-right:24px;

  border: 1px solid var(--Line1, #D0D0D0);

  color: #999;
  font-size: 24px;
  font-weight: 400;

  padding-left:16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .input_box4 {
  width: 180px;
  height: 44px;
  flex-shrink: 0;
  border: 1px solid var(--Line1, #D0D0D0);

  color: #999;
  font-size: 24px;
  font-weight: 400;

  padding-left:16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .input4 {
  width:176px;
  height: 40px;
  flex-shrink: 0;
  border: none;
  outline: none;
  border: 0;
  margin-left:-16px;

  padding-left:16px;
  color: #999;
  font-family: 'NanumMyeongjo', serif;
  font-size: 16px;
  font-weight: 400;
}


.main .input_btn1 {
  box-sizing: border-box;
  cursor: pointer;


  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .input_select {
  width: 380px;
  height: 44px;
  flex-shrink: 0;

  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .btn_o {
  width: 72px;
  height: 36px;
  flex-shrink: 0;
  background: var(--MAIN, #493B39);
  border: 0;
  cursor: pointer;

  color: #FFF;
  font-family: 'NanumMyeongjo', serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 125% */
}

.main .btn_x {
  width: 72px;
  height: 36px;
  flex-shrink: 0;
  background-color: rgba(153, 153, 153, 0.60);
  border: 0;
  cursor: pointer;

  color: #FFF;
  font-family: 'NanumMyeongjo', serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 125% */
}

.main .submit_btn {
  width: 380px;
  height: 70px;
  flex-shrink: 0;
  background-color: var(--MAIN, #493B39);
  border: 0px solid #999;
  cursor: pointer;


  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2.88px;
  font-family: 'NanumMyeongjo', serif;
}

.main .select {
  width: 180px;
  height: 44px;
  flex-shrink: 0;

  border: 1px solid var(--Line1, #D0D0D0);

  color: #333;
  font-family: 'NanumMyeongjo', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;

  padding-left:16px;
}

.main .text3 {
  color: #333;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.main .text4 {
  width: 380px;
  color: #666;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  /* 150% */
}

.main .text5 {
  overflow: auto;
  width: 380px;
  height: 171px;
  flex-shrink: 0;
  border: 1px solid #CCC;

  color: #444;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  padding:12px;
  padding-right:20px;
}

.text6 {
  color: #F00;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  /* 100% */
  margin-top:4px;
}

.text_none {
  display: none;
}

.main .checkbox_label {
  align-self: flex-start;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main .checked {
  background-size: cover;
  flex-shrink: 0;
  border: 0;
  outline: none;
  background-image: url("../images/check_o.svg");
}

.main .unchecked {
  background-size: cover;
  flex-shrink: 0;
  border: 0;
  outline: none;
  background-image: url("../images/check_x.svg");
}

.main .possible {
  color: blue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.main .impossible {
  color: #F00;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  /* 100% */
}

.main .next_btn_o {
  width: 380px;
  height: 68px;
  flex-shrink: 0;
  border: 0;
  background-color: var(--Line1, #69534E);
  cursor: pointer;

  color: var(--MAIN, white);
  font-family: 'NanumMyeongjo', serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 125% */
  letter-spacing: 2.88px;
}

.main .next_btn_x {
  width: 380px;
  height: 68px;
  flex-shrink: 0;
  border: 0;
  background-color: rgba(153, 153, 153, 0.60);
  cursor: pointer;

  color: var(--MAIN, white);
  font-family: 'NanumMyeongjo', serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 125% */
  letter-spacing: 2.88px;
}

@media screen and 
(max-width:480px) and 
(min-width:280px){
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
    margin-bottom:5vw;
  }

  .main {
    width: 80vw;
  }
  .main .text_head {
    font-size: 4vw;
    margin-bottom:5vw;
  }

  .main .input_box1 {
    width: 80vw;
  }
  
  .main .input1 {
    width: 80vw;
    font-size:4vw; 
  }
  
  .main .input_box2 {
    width: 80vw;
    padding-right:5vw;
  }
  
  .main .input2 {
    width: 70vw;
    font-size:4vw;
  }
  
  .main .input_box3 {
    width: 60vw;
    margin-right:5vw;
  }
  .main .btn_o {
    width: 15vw;
    font-size:1vw;
  }
  .main .btn_x {
    width: 15vw;
    font-size:1vw;
  }
  .main .input_select {
    width: 80vw;
    font-size:3vw;
  }

  .main .select {
    width: 40vw;
    font-size:4vw;
  }

  .main .input_box4 {
    width: 40vw;
    font-size:4vw;
  }
  .main .input4 {
    width: 40vw;
    font-size:4vw;
  }
  
  .main .submit_btn {
    width: 80vw;
  }
  
  .main .text4 {
    width: 80vw;
  }
  
  .main .text5 {
    width: 80vw;
  }

  
  .main .next_btn_o {
    width: 80vw;
  }
  
  .main .next_btn_x {
    width: 80vw;
  }

  .text6 {
    font-size: 2vw;
  }

  .main .impossible {
    font-size: 2vw;
  }
}
